# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [1]:
# CODE HERE
person1={"name":"jhon","gender":"male","occupation":"data scientist","location":"nizampet,hyderabad"}
print(person1)

{'name': 'jhon', 'gender': 'male', 'occupation': 'data scientist', 'location': 'nizampet,hyderabad'}

In [4]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [3]:
# CODE HERE
person1.keys()

dict_keys(['name', 'gender', 'occupation', 'location'])

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [4]:
# CODE HERE
del person1["location"]
person1

{'name': 'jhon', 'gender': 'male', 'occupation': 'data scientist'}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [8]:
# CODE HERE
person2={"name":"Raghu Ram","Gender":"Male","Age":"25","Occupation":"Data scientist"}
print(person2)

{'name': 'Raghu Ram', 'Gender': 'Male', 'Age': '25', 'Occupation': 'Data scientist'}

In [5]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [10]:
# CODE HERE
var ="=================== person1 ================="
var2="=================== person2 ================="
print(var)
print(person1)
print(var2)
print(person2)

=================== person1 =================
{'name': 'jhon', 'gender': 'male', 'occupation': 'data scientist'}
=================== person2 =================
{'name': 'Raghu Ram', 'Gender': 'Male', 'Age': '25', 'Occupation': 'Data scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [11]:
# CODE HERE
dict1= {1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
del dict1[1]
dict1.pop(4)
print(dict1)

{2: 4, 3: 9, 5: 25, 6: 36, 7: 49}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [12]:
# CODE HERE
dict2={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
dict3= sorted(dict2.items())
dict3.reverse()
print(dict3)

[(9, 81), (7, 49), (5, 25), (3, 9), (1, 1), (0, 0)]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [13]:
# CODE HERE
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
dict4={}
dict4.update(dict1)
dict4.update(dict2)
dict4.update(dict3)
print(dict4)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [15]:
# CODE HERE
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}
sample_dict["emp3"]["salary"]=85000
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 85000}}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [17]:
# CODE HERE
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
sampleDict["class"]["student"]["marks"]["history"]

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [21]:
# CODE HERE
x={'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}
x["Area"]=x.pop("Location")
x

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)